
<div >
    <img src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp" style="width: 100%; height: 400px;" class="card-img-top" alt="Wild Landscape"/>
    </div>

    
    <div class="banner">
        <h5>#About Us
        </h5>
      </div>

      
           <div class="sections">
            <div class="left-section">
              <div class="heading">
                <ul>
                  <li>
                    <a tabindex="1" routerLink="/career"><h4>On Campus Vaccancies</h4></a>
                    <hr>
                  </li>
                  <li>
                    <a tabindex="1" routerLink="/career"><h4>Res Vacanccies</h4>
                    </a>
                    <hr>
                  </li>
                  <li>
                    <a tabindex="1" routerLink="/career"><h4>Career walk-through</h4></a>
          
                    <hr>
                  </li>
                </ul>
               </div>
               <div class="bottom-left-info">
               <a href=""><h3>Find more on News and Events...</h3></a>
               <ul>
                <li>
                  <a tabindex="1" routerLink="/career"><h4># NewsFeed Page</h4></a>
                </li>
                <li>
                  <a tabindex="1" routerLink="/career"><h4># Events Page</h4>
                  </a>
                </li>
                <li>
                  <a tabindex="1" routerLink="/career"><h4># Gallery</h4></a>
                </li>
                <li>
                  <a tabindex="1" routerLink="/career"><h4># Vacancies</h4></a>
                </li>
                <li>
                  <a tabindex="1" routerLink="/career"><h4># Contact Us</h4></a>
                </li>
              </ul>
            </div>
            </div>
          
            <div class="right-section">
                
              
  
<div class="card">
    <div class="right-section">
        <div class="heading-title1">
          <h1> About Alumni</h1>
         </div>
         <pre></pre>
    
    <div class="card-body">
      
      <p class="card-text">​​​​​​​​​​​​​​Alumni Relations wi​thin the Advancement and Partnership Office exists to ensure Alumni remain in touch with their Alma Mater, update them on ​University life and activities whilst also strengthening the Alumni community and network to which they belong.
    
        ​Your Alma Mater looks forward to welcoming you back, be it to a public lecture, a leadership forum, class reunion, or just for an informal visit. We will also be arranging special events for our Alumni who live outside of Pretoria.
        
        Please confirm your current contact details, and share interesting and exciting things about your lives with us, as well as where you are in your respective careers.​​​
        
        .</p>
      
    </div>
    </div>
    
    <pre></pre>
    
    
    
    <div class="card">
    <div class="right-section">
        <div class="heading-title2">
          <h1> What we do</h1>
         </div>
         <pre></pre>
    
    <div class="card-body">
      
      <p class="card-text">​​​We facilitate opportunities for former students to reconnect with the University and other Alumni.

        We create opportunities for Alumni@TUT to become involved in fundraising activities for the University.
        
        We organise reunions, community engagement activities, mentorship programs, sporting activities and many other events and functions for our Alumni.​
        
        </p>
      
    </div>
    </div>
    
    
    <pre></pre>
    
    
    
    <div class="card">
    <div class="right-section">
        <div class="heading-title3">
          <h1> What we offer</h1>
         </div>
         <pre></pre>
    
    <div class="card-body">
      
      <p class="card-text">​​In engaging with our Alumni, we strive to cultivate well-informed and committed:

        Ambassadors who will promote TUT to prospective students and their parents, fellow Alumni, opinion makers, potential donors, employers and supporters.
        
        Advisers who will advise the Alumni Relations Office of potential sources of new funding, to assist current students and recent graduates with career opportunities and alert TUT about possible investment vehicles and opportunities; and advise on good governance; quality of teaching and learning; relevance of curriculum content; and employ​ability of graduates.
        
        Donors who will assist in sustaining the future financial wellbeing of TUT.
        
        </p>
      
    </div>
    </div>
          
            </div>
          </div>
      
      
      
      
      
      
      
      