

<div class="card">
    <div class="right-section">
        <div class="heading1">
          <h1> About Alumni</h1>
         </div>
         <pre></pre>

    <div class="card-body">
      
      <p class="card-text">​​​​​​​​​​​​​​Alumni Relations wi​thin the Advancement and Partnership Office exists to ensure Alumni remain in touch with their Alma Mater, update them on ​University life and activities whilst also strengthening the Alumni community and network to which they belong.

        ​Your Alma Mater looks forward to welcoming you back, be it to a public lecture, a leadership forum, class reunion, or just for an informal visit. We will also be arranging special events for our Alumni who live outside of Pretoria.
        
        Please confirm your current contact details, and share interesting and exciting things about your lives with us, as well as where you are in your respective careers.​​​
        .</p>
      <a routerLink="/aboutsingle"> <button type="button" class="btn btn-primary">Read More</button> </a> 
    </div>
  </div>