

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#"><img src="/assets/image/Tutlogo.png"> </a>
        <button (click)=toggleDisplayDivIf() class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- *ngIf="!isShowDivIf" --- hide and show -->
        <div [ngClass]="!isShowDivIf ? 'responsive__active' : 'responsive__inactive'" class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ">
                <li (click)=toggleDisplayDivIf()  class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="home">Home
                        <span class="sr-only"></span>
                    </a>
                </li>
                <li (click)=toggleDisplayDivIf() class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="about">About</a>
                </li>
                <li (click)=toggleDisplayDivIf() class="nav-item" routerLinkActive="active">
                  <a class="nav-link" routerLink="contact">Contact</a>
                </li>
                <li (click)=toggleDisplayDivIf() class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="events">Event</a>
                </li>
                <li (click)=toggleDisplayDivIf() class="nav-item" routerLinkActive="active">
                  <a class="nav-link" routerLink="news">News</a>
              </li>
              <li (click)=toggleDisplayDivIf() class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="gallery">Gallery</a>
            </li>
            <li (click)=toggleDisplayDivIf() class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="connect">Connect</a>
          </li>
          <li (click)=toggleDisplayDivIf() class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="vacancies">Vacancies</a>
        </li>
        <li (click)=toggleDisplayDivIf() class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="donate">Donate</a>
          </li>
            </ul>
            
        </div>
        <form>
          <li class="nav-item dropdown pe-3">
            <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
              <img src ="/assets/image/1027249.jpg" class="Container" alt="Profile" class="rounded-circle"> 
              <span class="d-none d-md-block dropdown-toggle ps-2">OA. OLAYINKA</span>
            </a><!-- End Profile Iamge Icon -->
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
         
                <a class="dropdown-item d-flex align-items-center" href="view-profile">
                  <i class="bi bi-person"></i>
                  <span>My Profile</span>
                </a>
            
              <li>
                <hr class="dropdown-divider">
              
              <li>
                
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <i class="bi bi-box-arrow-right"></i>
                  <span>Sign Out</span>
                </a>
              </li>
              
            </ul> <!-- End Profile Dropdown Items -->
          </form>
    </div>
    
    <div class="topDiv">
      <input class="searchBar" type="text" name="" placeholder="Search">
      <button class="button" href="#">
      <i class="material-icons"> search </i>
      </button>
    </div>
      
   
  </nav>
