

<div class="right-section">
  <div class="heading">
    <h1> Upcoming Events</h1>
   </div>
   <pre></pre>

<mdb-carousel [controls]="true">
  <mdb-carousel-item >

    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
          <div class="card1" style="width: 30rem;">
              <img src="/assets/Varsity Men's Football Champions victory parade.jpeg" style="width: 100%; height: 300px;" class="card-img-top" alt="Chicago Skyscrapers"/>
              <div class="card-body">
                <h5 class="card-title">Event Name</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
              <ul class="list-group list-group-light list-group-small">
                <li class="list-group-item px-4">Location:Soshanguve</li>
                <li class="list-group-item px-4">Date:30 September 2022</li>
                <li class="list-group-item px-4">Time:13:00</li>
              </ul>
              <div class="card-body">
                <a href="#" class="card-link">View</a>
              </div>
            </div>
      </div>
      
      <div class="col">
          <div class="card2" style="width: 30rem;">
              <img src="/assets/Varsity Men's Football Champions victory parade.jpeg" style="width: 100%; height: 300px;" class="card-img-top" alt="Chicago Skyscrapers"/>
              <div class="card-body">
                <h5 class="card-title">Event Name</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
              <ul class="list-group list-group-light list-group-small">
                  <li class="list-group-item px-4">Location:Soshanguve</li>
                  <li class="list-group-item px-4">Date:30 September 2022</li>
                  <li class="list-group-item px-4">Time:13:00</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">View</a>
                </div>
            </div>
      </div>

      <div class="col">
          <div class="card3" style="width: 30rem;">
              <img src="/assets/Varsity Men's Football Champions victory parade.jpeg" style="width: 100%; height: 300px;" class="card-img-top" alt="Chicago Skyscrapers"/>
              <div class="card-body">
                <h5 class="card-title">Event Name</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
              <ul class="list-group list-group-light list-group-small">
                  <li class="list-group-item px-4">Location:Soshanguve</li>
                  <li class="list-group-item px-4">Date:30 September 2022</li>
                  <li class="list-group-item px-4">Time:13:00</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">View</a>
                </div>
            </div>
        
      </div>
    </div>
  </mdb-carousel-item>

  <mdb-carousel-item>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
          <div class="card1" style="width: 30rem;">
              <img src="/assets/Varsity Men's Football Champions victory parade.jpeg" style="width: 100%; height: 300px;" class="card-img-top" alt="Chicago Skyscrapers"/>
              <div class="card-body">
                <h5 class="card-title">Event Name</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
              <ul class="list-group list-group-light list-group-small">
                  <li class="list-group-item px-4">Location:Soshanguve</li>
                  <li class="list-group-item px-4">Date:30 September 2022</li>
                  <li class="list-group-item px-4">Time:13:00</li>
                </ul>
                <div class="card-body">
                  <a routerLink="/aboutsingle"> <button type="button" class="btn btn-primary">READ MORE</button> </a> 
                </div>
            </div>
      </div>
      
      <div class="col">
          <div class="card2" style="width: 30rem;">
              <img src="/assets/Varsity Men's Football Champions victory parade.jpeg" style="width: 100%; height: 300px;" class="card-img-top" alt="Chicago Skyscrapers"/>
              <div class="card-body">
                <h5 class="card-title">Event Name</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
              <ul class="list-group list-group-light list-group-small">
                  <li class="list-group-item px-4">Location:Soshanguve</li>
                  <li class="list-group-item px-4">Date:30 September 2022</li>
                  <li class="list-group-item px-4">Time:13:00</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">View</a>
                </div>
            </div>
      </div>

      <div class="col">
          <div class="card3" style="width: 30rem;">
              <img src="/assets/Varsity Men's Football Champions victory parade.jpeg" style="width: 100%; height: 300px;" class="card-img-top" alt="Chicago Skyscrapers"/>
              <div class="card-body">
                <h5 class="card-title">Event Name</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
              <ul class="list-group list-group-light list-group-small">
                  <li class="list-group-item px-4">Location:Soshanguve</li>
                  <li class="list-group-item px-4">Date:30 September 2022</li>
                  <li class="list-group-item px-4">Time:13:00</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">View</a>
                </div>
            </div>
      </div>
    </div>
    
  </mdb-carousel-item>



