 <!-- ======= Image banner Section ======= -->
 <div >
    <img src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp" style="width: 100%; height: 400px;" class="card-img-top" alt="Wild Landscape"/>
    </div>
   <!-- ======= banner Section ======= -->
    <div class="banner">
      <h5>#Contact Us
      </h5>
    </div>
  
   
   <!-- ======= Contact Section ======= -->
   <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">
  
        <div class="section-header">
          <div class="heading">
            <h1> Contact us</h1>
           </div>
           <pre></pre>
          <p>Nulla dolorum nulla nesciunt rerum facere sed ut inventore quam porro nihil id ratione ea sunt quis dolorem dolore earum</p>
        </div>
  
        <div class="row gx-lg-0 gy-4">
  
          <div class="col-lg-4">
  
            <div class="info-container d-flex flex-column align-items-center justify-content-center">
              <div class="info-item d-flex">
                <i class="bi bi-geo-alt flex-shrink-0"></i>
                <div>
                  <h4>Senior Officer:Alumni Relations and Communication</h4>
                  <p>Name:Vacant</p>
                </div>
              </div><!-- End Info Item -->
  
              <div class="info-item d-flex">
                <i class="bi bi-geo-alt flex-shrink-0"></i>
                <div>
                  <h4>Manager: Alumni Relations and Fundraising</h4>
                  <p>Name: Shalate Portia Davhana</p>
                  <p>Tel: +27 12 382 2804</p>
                  <p>Email: DavhanaSP@tut.ac.za</p>
                </div>
              </div><!-- End Info Item -->
  
              <div class="info-item d-flex">
                <i class="bi bi-envelope flex-shrink-0"></i>
                <div>
                  <h4>Deputy Director: Individual Giving, Bursaries and Scholarships</h4>
                  <p>Name:Mr Danie Ferns</p>
                  <p>Tel:+27 12 382 5366</p>
                  <p>Fax:+27 12 382 5369</p>
                  <p>Email:FernsD@tut.ac.za</p>
                </div>
              </div><!-- End Info Item -->
  
              <div class="info-item d-flex">
                <i class="bi bi-phone flex-shrink-0"></i>
                <div>
                  <h4>TUT Contact Centre</h4>
                  <p>Tel:086 110 2421</p>
                  <p>Email:general@tut.ac.za</p>
                  <p>SMS Number:30655</p>
                </div>
              </div><!-- End Info Item -->
  
              <div class="info-item d-flex">
                <i class="bi bi-clock flex-shrink-0"></i>
                <div>
                  <h4>Open Hours:</h4>
                  <p>Mon-Sat: 11AM - 23PM</p>
                </div>
              </div><!-- End Info Item -->
            </div>
  
          </div>
  
          <div class="col-lg-8">
            <form action="forms/contact.php" method="post" role="form" class="email-form">
              <div class="row">
  
                
  
                <div class="col-md-6 form-group">
                  <label for="title">Title</label>
                  <input type="text" name="title" class="form-control" id="title" placeholder="Mr" required>
                </div>
                <div class="col-md-6 form-group">
                  <label for="name">Name</label>
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <label for="name">Email</label>
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="7" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
              <button type="button" class="btn btn-primary">Send Message</button>
            </form>
          </div><!-- End Contact Form -->
  
        </div>
  
      </div>
    </section><!-- End Contact Section -->
  