<div >
    <img src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp" style="width: 100%; height: 400px;" class="card-img-top" alt="Wild Landscape"/>
    </div>

    <div class="banner">
        <h5>#DONATE</h5>
      </div>

    

<div class="heading-donate">
    <h1> I want to donate</h1>
   </div>
   <pre></pre>

   <pre></pre>

   <div class="card-body">
     
     <p class="card-text">​Your Alma Mater, Tshwane University of Technology, calls upon you; its proud Alumnus to partner with the University to secure the life chances of our current students. TUT invites you to join a growing community of individual donors in support of our Bursary and Scholarship fund. The fund is aimed at supporting current students that are financially needy and academically deserving. Contributions can be done both electronically and online. For more on this initiative please email Mr Danie Ferns at <a href ="https://tut.devman.co.za/Devman/online/giving/">FernsD@tut.ac.za.​​​​</a></p>
     
   </div>
 
   <pre></pre>
<button type="button"  class="btn btn-primary"><a href ="https://tut.devman.co.za/Devman/online/giving/">Donate</a></button> 

  
  