<div class="sections">
    <div class="left-section">
      <div class="heading">
        <ul>
          <li>
            <a tabindex="1" routerLink="/career"><h4>On Campus Vaccancies</h4></a>
            <hr>
          </li>
          <li>
            <a tabindex="1" routerLink="/career"><h4>Res Vacanccies</h4>
            </a>
            <hr>
          </li>
          <li>
            <a tabindex="1" routerLink="/career"><h4>Career walk-through</h4></a>
  
            <hr>
          </li>
        </ul>
       </div>
       <div class="bottom-left-info">
       <a href=""><h3>Find more on News and Events...</h3></a>
       <ul>
        <li>
          <a tabindex="1" routerLink="/career"><h4># NewsFeed Page</h4></a>
        </li>
        <li>
          <a tabindex="1" routerLink="/career"><h4># Events Page</h4>
          </a>
        </li>
        <li>
          <a tabindex="1" routerLink="/career"><h4># Gallery</h4></a>
        </li>
        <li>
          <a tabindex="1" routerLink="/career"><h4># Vacancies</h4></a>
        </li>
        <li>
          <a tabindex="1" routerLink="/career"><h4># Contact Us</h4></a>
        </li>
      </ul>
    </div>
    </div>