
<nav class="navbar  navbar-light bg-light" style="margin-bottom: 50px; margin-left: 440px; ">
   
    <div class="heading1 mx-auto">
      <h1> Monitor RSVP</h1>
     </div>
  
    <div class="container-fluid">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
          </li>
          <li class="breadcrumb-item">
            <a href="#">Events</a>
          </li>
          <li class="breadcrumb-item active " aria-current="page" >
            <a href="#">Rsvp</a>
          </li>
        </ol>
      </nav>
    </div>
  </nav>
  
  
  
  <div class="card " style="width: 250px; margin-top: 100px; margin-bottom: 50px; margin-left: 450px; ">
    <div class="row">
        <div class="col-md-4 text-white bg-primary">
          <h3 class="card-title mt-4" class="fw-bold mb-1" >RSVP</h3><br>
  
        </div>
        <div class="col-md-8 text-white bg-danger ">
            <p>0</p>
            <p>Rsvp</p>
          
        </div>
    </div>
   </div>
  
    
  
  
  <div class="container">
  
     <div class="card mx-auto" style="width: 1050px; margin-top: 100px; margin-bottom: 50px;">
      <div class="row">
          <div class="col-md-4 ">
              <img src="./assets/Varsity Men's Football Champions victory parade.jpeg" class="img-fluid">
  
          </div>
          <div class="col-md-8">
              <h3 class="card-title mt-4" class="fw-bold mb-4" >Event Title</h3><br>
              <p>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p>Location:</p>
              <p>Date:</p>
              <p>Time:</p>
  
          </div>
      </div>
     </div>
      
      
      
        <div class="card border  mx-auto shadow-0 mb-3" style="max-width: 70rem; ">
          <div class="card-header">
              <table class="table align-middle mb-0 bg-white">
                  <thead class="bg-light">
                      <tr class="text-center">
                        <th>Name</th>
                        <th>Email</th>
                        <th>Mobile number</th>
                      </tr>
                    </thead>
                    <tbody class="text-center">
                      <tr>
                        <td >
                              <p class="fw-normal mb-1">User1</p>
                        </td>
      
                        <td>
                          <p class="fw-normal mb-1">user1@gmail.com</p>  
                        </td>
                
                        <td>
                            <p class="fw-normal mb-1">0123456789</p> 
                        </td>
                      </tr>
                
                      <tr>
                        <td>
                              <p class="fw-normal mb-1">User2</p>
                        </td>
                        <td>
                          <p class="fw-normal mb-1">user2@gmail.com</p>  
                        </td>
                
                        <td>
                            <p class="fw-normal mb-1">0123456789</p> 
                        </td>
                      </tr>
      
                      <tr>
                        <td>
                              <p class="fw-normal mb-1">User3</p>
                        </td>
      
                        <td>
                          <p class="fw-normal mb-1">user3@gmail.com</p>  
                        </td>
                
                        <td>
                            <p class="fw-normal mb-1">0123456789</p> 
                        </td>
                      </tr>
                
                    </tbody>
      
              </table>
              <nav aria-label="..." class="nav mt-3" style="margin-left: 774px;">
                  <ul class="pagination ">
                    <li class="page-item disabled">
                      <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active">
                      <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#">Next</a>
                    </li>
                  </ul>
                </nav>
  
  
  
         
          </div>
      
      
  
  
  </div>
  
  